/*=============== START VARIABLES ===============*/
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-background: #f6f6f6;
    --section-padding: 60px;
    --main-duration: 0.5s;
}
/*=============== START VARIABLES ===============*/

/*=============== START GLOBAL RULES ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*========== SMALL ==========*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*========== MEDIUM ==========*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*========== LARGE ==========*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*=============== START COMPONENTS ===============*/
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -5px;
    color: #ebeced;
    margin: 0;
}

.main-heading p {
    margin-top: -30px;
    font-size: 19px;
    color: #777;
}
/*=============== END COMPONENTS ===============*/

/*=============== END GLOBAL RULES ===============*/

/*=============== START HEADER ===============*/
header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 70px;
}

header .links {
    position: relative;
}

header .links:hover  ul {
    display: block;
}

header .links .icon {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header .links .icon:hover span:nth-child(2) {
    width: 100%;
}

header .links .icon span {
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

header .links .icon span:last-child {
    width: 100%;
}

header .links ul {
    min-width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eee;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    display: none;
    z-index: 1;
}

header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    top: -20px;
    right: 5px;
}

header .links ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    transition: var(--main-duration);
}

header .links ul li a:hover {
    padding-left: 15px;
    background-color: #ddd;
}

header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
/*=============== END HEADER ===============*/


/*=============== START LANDING ===============*/
.landing {
    position: relative;
    height: calc( 100vh - 68px);
    background-image: url(./images/landing.jpg);
    background-size: cover;
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 900;
    color: var(--main-color);
    margin-bottom: 20px;
}

.landing .text p {
    line-height: 2;
    font-size: 19px;
}
/*=============== END LANDING ===============*/

/*=============== START FEATURES  ===============*/
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feat {
    text-align: center;
    padding: 20px;
}

.features .container .feat i {
    color: var(--main-color);
}

.features .container .feat h3 {
    margin: 30px 0;
}

.features .container .feat p {
    line-height: 1.7;
    color: #777;
}
/*=============== END FEATURES  ===============*/

/*=============== START SERVICES ===============*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px
}

.services .services-container .service-box {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-container .service-box {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-container .service-box i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-container .service-box .text {
    flex: 1
}

.services .services-container .service-box .text h4 {
    margin-bottom: 20px;
}

.services .services-container .service-box .text p {
    font-size: 15px;
    color: #777;
    line-height: 1.5;
}

.services .services-container .image {
    position: relative;
    text-align: center;
}
@media (max-width: 1199px) {
    .services .services-container .image-column {
        display: none;
    }
}

.services .services-container .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc( 100% + 80px);
    background-color: var(--secondary-color);
    top: -40px;
    right: 0;
    z-index: -1;
}

.services .services-container .image img {
    width: 260px;
}
/*=============== END SERVICES ===============*/

/*=============== START PORTFOLIO ===============*/
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio .portfolio-container .box {
    background-color: white;
}

.portfolio .portfolio-container .box img {
    max-width: 100%;
}

.portfolio .portfolio-container .box .text {
    padding: 20px;
}

.portfolio .portfolio-container .box .text h3 {
    margin-bottom: 20px;
}

.portfolio .portfolio-container .box .text p {
    line-height: 1.5;
    color: #777;
}
/*=============== END PORTFOLIO ===============*/

/*=============== START ABOUT ===============*/
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
@media (max-width: 991px) {
    .about .about-container {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-container .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-container .image::before {
    content: "";
    position: absolute;
}

.about .about-container .image::before {
    content: "";
    position: absolute;
}

@media (max-width: 991px) {
    .about .about-container .image  {
        margin: 0 auto 60px
    }
}

.about .about-container .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: var(--section-background);
    top: -40px;
    left: -30px;
    z-index: -1;
}

.about .about-container .image::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 100px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -130px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .about-container .image::before,
    .about .about-container .image::after {
        display: none;
    }
}
.about .about-container .image img {
    max-width: 100%;
}

.about .about-container .text {
    flex-basis: calc(100% - 500px);
}

.about .about-container .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-container .text hr {
    width: 50%;
    height: 2px;
    display: inline-flex;
    background-color: var(--main-color);
    border: none;
}

.about .about-container .text p:last-of-type {
    margin-top: 40px;
    line-height: 2;
    color: #777
}
/*=============== END ABOUT ===============*/

/*=============== START CONTACT ===============*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
   
    text-align: center;
}
.contact .info .label {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -3px;
    color: var(--secondary-color);
}

.contact .info .link {
    font-size: 50px;
    font-weight: 900;
    text-decoration: none;
    color: var(--main-color);
    display: block;
    padding: 30px 0;
}

@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.contact .info .social {
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.contact .info .social i {
    color: var(--secondary-color);
    margin-left: 10px;
}
/*=============== END CONTACT ===============*/

/*=============== START FOOTER ===============*/
footer {
    padding: 30px 10px;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
}
footer p span {
    font-weight: bold;
    color: var(--main-color);
}
/*=============== END FOOTER ===============*/
